/Guia_Colecciones_4/nbproject/private/
/Guia_Colecciones_3/build/
/Guia_Colecciones_4/build/
/Guia_Colecciones_5/nbproject/private/
/Guia_Colecciones_6/nbproject/private/
/Guia_Colecciones_5/build/
/Guia_Colecciones_6/build/